/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .view-all-btn {
        display: none;
    }

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .view-all-btn {
        display: none;
    }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    /* Banner Responsive Style */
    .container {
        width: 700px;
        margin: auto;
    }
    .banner-right h2 {
        font-size: 36px;
        line-height: 40px;
        color: #FFFFFF;
        margin-bottom: 0;
        margin-top: 40px
    }
    .banner {
        padding-left: 50px;
        padding-right: 10px;
        margin-top: 30px;
    }
    .banner-left img {
        width: 100%;
        height: 317px;
    }
    .banner-right {
        margin-bottom: 45px;
    }
    .banner-right p {
        font-size: 13px;
        line-height: 21px;
    }
    button.btn {
        width: 132px;
        height: 34px;
        background: #DD0000;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 18px;
        border: none;
    }
    /* Blog Sectiong style */
    .main-section {
        display: block;
    }
    
    .sidebar-menu {
        background: no-repeat;
    }
    .sidebar-menu nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .sidebar-menu ul {
        padding: 0;
    }
    .sidebar-menu ul li {
        display: inline-block;
    }
    .sidebar-menu ul li a {
        border: 1px solid #ccc;
        padding: 20px 35px;
    }
    /* Blog Section */
    .blog-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .single-blog img {
        width: 100%;
    }
    .active a{
        margin-right: 0px !important;
    }
    .single-blog.last-blog {
        display: none;
    }
    .view-all-btn {
        display: grid;
        justify-items: end;
    }
    .view-all-btn a button {
        background: #DD0000;
        border-radius: 5px;
        border: none;
        color: #fff;
        padding: 13px 35px;
        margin-bottom: 130px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }
    /* Footer Style */
    .footer-menu ul li a {
        margin-right: 30px;
        font-size: 18px;
        line-height: 45px;
    }
}

 
/* small mobile :320px. */
@media (max-width: 767px) {

 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

 
}
